{% extends 'charts/base.html' %}
{% load static %}
{% block content %}


<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

<div class="chartContainer">

    <div class="row">

        <div class="col s10 m3 l2 xl2">
            <div class="input-field ddMenus">
                <select id="gender">
                    <option value="">Any Gender</option>
                    {% for gender in genders %}
                    <option value="{{gender.id}}">{{gender.name}}</option>
                    {% endfor %}ß

                </select>
            </div>
        </div>

        <div class="col s10 m3 l2 xl2 ">
            <div class="input-field  ddMenus">
                <select id="income">
                    <option value="">Income Level</option>
                    {% for income_level in income_levels %}
                    <option value="{{income_level.id}}">{{income_level.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col s10 m3 l2 xl2">
            <div class="input-field  ddMenus">
                <select id="education">
                    <option value="">Any Education</option>
                    {% for education_level in education_levels %}
                    <option value="{{education_level.id}}">{{education_level.name}}</option>
                    {% endfor %}

                </select>
            </div>
        </div>

        <div class="col s10 m3 l2 xl2">
            <div class="input-field ddMenus">
                <select id="year">
                    <option value="">Any Year</option>
                    {% for year in years %}
                    <option value="{{year}}">{{year}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div>
            <!-- Dropdown Trigger -->
            <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Choose Graph</a>

            <!-- Dropdown Structure -->
            <ul id='dropdown1' class='dropdown-content'>
                <li><a id="submit_button"><span class="dd_text">County Choropleth</span></a>
                </li>
                <li class="divider" tabindex="-1"></li>

                <li><a id="submit_state_button"><span class="dd_text">State Choropleth</span></a>
                </li>
                <!--<li class="divider" tabindex="-1"></li>-->
                <!--<li><a href="#!"><span class="dd_text">Line</span></a></li>-->
                <!--<li class="divider" tabindex="-1"></li>-->

                <!--<li><a href="#!"><span class="dd_text">Bar</span></a></li>-->
                <!--<li class="divider" tabindex="-1"></li>-->

                <!--<li><a href="#!"><span class="dd_text">Scatter</span></a></li>-->
            </ul>
        </div>



<div>
    <h2> TEST </h2>
    <canvas id="myChart" width="400" height="400" style="border:1px solid #000000;">
    </canvas>

</div>
<script>
    alert('TEST')
    let year_input = document.querySelector('#year')
            let gender_input = document.querySelector('#gender')
            let income_level = document.querySelector('#income')
            let education_level = document.querySelector('#education')
            let submit_button = document.querySelector('#submit_button')


            function getData() {
                let url = "{% url 'charts:get_plotly_url' %}"

                document.querySelector('#loading_icon').style.display = '';
                document.querySelector('#loading_word').style.display = '';

                let gender_id = gender_input.options[gender_input.selectedIndex].value
                let education_level_id = education_level.options[education_level.selectedIndex].value
                let year_id = year_input.options[year_input.selectedIndex].value
                let income_level_id = income_level.options[income_level.selectedIndex].value
                console.log('gettin the url')
                axios.get(url, {
                    params: {
                        gender_id: gender_id,
                        education_level_id: education_level_id,
                        year: year_id,
                        income_level_id: income_level_id,
                    }
                })
                    .then(function (response) {
                        document.querySelector('#graph_iframe').src = response.data
                        document.querySelector('#loading_icon').style.display = 'none';
                        document.querySelector('#loading_word').style.display = 'none';

                    })
            }

            // gender_input.onchange = getData
            // income_level.onchange = getData
            // education_level.onchange = getData
            // year_input.onchange = getData

            submit_button.onclick = getData



    var endpoint = '/api/chart/data/'
    var defaultData = []
    var labels = []

    $.ajax({
        method: "GET",
        url: endpoint,
        success: function (data) {
            defaultData = data.default
            labels = data.labels
        },
        error: function (error_data) {
            console.log("error")
            console.log(error_data)
        }
    })



var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: labels,
        datasets: [{
            label: '# of Votes',
            data: defaultData,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});


</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>


{% endblock %}

