{% extends 'charts/base.html' %}
{% load static %}
{% block content %}

<div class="chartContainer">

    <div class="row">
        <div class="col s10 m3 l2 xl2">
            <div class="input-field ddMenus">
                <select id="state">
                    <option value="">State</option>
                    {% for state in states %}
                    <option value="{{state.id}}">{{state.name}}</option>
                    {% endfor %}

                </select>
            </div>
        </div>


        <div class="col s10 m3 l2 xl2">
            <div class="input-field ddMenus">
                <select id="gender">
                    <option value="">Any Gender</option>
                    {% for gender in genders %}
                    <option value="{{gender.id}}">{{gender.name}}</option>
                    {% endfor %}ß

                </select>
            </div>
        </div>

        <div class="col s10 m3 l2 xl2 ">
            <div class="input-field  ddMenus">
                <select id="income">
                    <option value="">Income Level</option>
                    {% for income_level in income_levels %}
                    <option value="{{income_level.id}}">{{income_level.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col s10 m3 l2 xl2">
            <div class="input-field  ddMenus">
                <select id="education">
                    <option value="">Any Education</option>
                    {% for education_level in education_levels %}
                    <option value="{{education_level.id}}">{{education_level.name}}</option>
                    {% endfor %}

                </select>
            </div>
        </div>

        <div class="col s10 m3 l2 xl2">
            <div class="input-field ddMenus">
                <select id="year">
                    <option value="">Any Year</option>
                    {% for year in years %}
                    <option value="{{year}}">{{year}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div>
            <!-- Dropdown Trigger -->
            <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Choose Graph</a>

            <!-- Dropdown Structure -->
            <ul id='dropdown1' class='dropdown-content'>
                <li><a id="submit_button"><span class="dd_text">County Choropleth</span></a>
                </li>
                <li class="divider" tabindex="-1"></li>

                <li><a id="submit_state_button"><span class="dd_text">State Choropleth</span></a>
                </li>
                <li class="divider" tabindex="-1"></li>
                <li><a id="submit_line_button" href="#!"><span class="dd_text">Line</span></a></li>
                <li class="divider" tabindex="-1"></li>

                <!--<li><a href="#!"><span class="dd_text">Bar</span></a></li>-->
                <!--<li class="divider" tabindex="-1"></li>-->

                <!--<li><a href="#!"><span class="dd_text">Scatter</span></a></li>-->
            </ul>
        </div>


        <div id="i_frame_div">
            <div>
                <img id="loading_icon" src="{% static 'charts/images/demographloader.gif' %}" style="display:none;
                position:absolute;
                top: 15%;
                right: 30%;
                height: 250px;
                border-style:outset;
                margin: 5%;"/>
                <br>
                <p id="loading_word" style="display:none; position:absolute;
    bottom: 23%;
    right: 23%;
    width: 25%;">loading...</p>
            </div>

            <div>
                <iframe id="graph_iframe" src="">
                    <p>Your browser does not support iframes.</p>
                </iframe>
            </div>

        </div>
        <script>
            let year_input = document.querySelector('#year')
            let gender_input = document.querySelector('#gender')
            let income_level = document.querySelector('#income')
            let education_level = document.querySelector('#education')
            let submit_line_button = document.querySelector('#submit_line_button')
            let state_input = document.querySelector('#state')



            function getData() {
                let url = "{% url 'charts:get_plotly_line_url' %}"

                document.querySelector('#loading_icon').style.display = '';
                document.querySelector('#loading_word').style.display = '';

                let gender_id = gender_input.options[gender_input.selectedIndex].value
                let education_level_id = education_level.options[education_level.selectedIndex].value
                let year_id = year_input.options[year_input.selectedIndex].value
                let income_level_id = income_level.options[income_level.selectedIndex].value
                let state_id = state_input.options[state_input.selectedIndex].value

                console.log('gettin the url')
                axios.get(url, {
                    params: {
                        gender_id: gender_id,
                        education_level_id: education_level_id,
                        year: year_id,
                        income_level_id: income_level_id,
                        state_id: state_id,

                    }
                })
                    .then(function (response) {
                        document.querySelector('#graph_iframe').src = response.data;
                        document.querySelector('#loading_icon').style.display = 'none';
                        document.querySelector('#loading_word').style.display = 'none';

                    })
            }


            submit_line_button.onclick = getData


        </script>

        {% endblock %}

